
@{
    ViewBag.Title = "System Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
  
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    1
                </h3>
                <p>
                    Modification Report
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="/Report/ModificationReport" class="small-box-footer">
                View details <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
       
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-orange">
            <div class="inner">
                <h3>
                    1
                </h3>
                <p>
                    Experity Report
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="/Report/ExpiredProductReport" class="small-box-footer">
                View details <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

</div>