<div class="f-title">Chúng tôi trên</div>


<div class="tag-cloud">
    <div class="fb-page" data-href="https://www.facebook.com/DaiPhatPMH/" data-tabs="timeline" data-width="250" data-height="150" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/DaiPhatPMH/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DaiPhatPMH/">Bất Động Sản Đại Phát</a></blockquote></div>
</div>

@*<ul class="list-unstyled">
    <li>
        <a href="#">
            <div class="row">
                <div class="col-sm-4"><img class="img-thumbnail pull-left" src="@Url.Content("~/Content/images/")/footer-recent/f-recent-1.jpg" width="70" height="70" alt="" /> </div>
                <div class="col-sm-12">
                    <h4>The evolution of the apple ..</h4>
                    <div class="f-sub-info">
                        <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                        <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                        <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="row">
                <div class="col-sm-4 "><img class="img-thumbnail pull-left" src="@Url.Content("~/Content/images/")/footer-recent/f-recent-2.jpg" width="70" height="70" alt="" /> </div>
                <div class="col-sm-12">
                    <h4>The evolution of the apple ..</h4>
                    <div class="f-sub-info">
                        <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                        <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                        <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="row">
                <div class="col-sm-4"><img class="img-thumbnail pull-left" src="@Url.Content("~/Content/images/")/footer-recent/f-recent-3.jpg" width="70" height="70" alt="" /> </div>
                <div class="col-sm-12">
                    <h4>The evolution of the apple ..</h4>
                    <div class="f-sub-info">
                        <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                        <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                        <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                    </div>
                </div>
            </div>
        </a>
    </li>
</ul>*@