
@{
    ViewBag.Title = "Estate Type Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MvcPaging
@model  MvcPaging.IPagedList<RealEstate.Models.Estate_Types>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
    });

    function RenderActions(renderActionstring) {
        $("#OpenDialog").load(renderActionstring);
    };
    function CreateNew() {
        if (!ValidateInputs())
            return;

        var Estate_Types = {
            name: $('#Name').val(),
            IsDelete: $('#IsDelete:checked').val()
        }
        console.log(Estate_Types);
        $.ajax({
            url: '/Estate_Types/Create',
            type: 'POST',
            data: JSON.stringify(Estate_Types),
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                console.log(response);
                Clean();
                $('#btnCloseModal').click();
                var raw = '';
                raw += "<tr id=" + response.Estate_TypesId + '>';
                raw += "<td>" + response.Estate_TypesId + "</td>";
                raw += "<td>" + response.Name + "</td>";
                raw += "<td>" + response.CreateDate + "</td>";
                if (response.IsDelete == true) {
                    raw +=
                        " <td>  <button type=\"button\" title=\"Is Delete\" class=\"btn btn-sm btn-danger\"><i class=\"ion-android-close\"" +
                        "></i></button>" +
                        "<button class = \"btn btn-sm btn-primary\" data-toggle=\"modal\" data-target=\"#modalCrud\" onclick=\"RenderActions('/Estate_Types/Edit/' + " +
                        response.Estate_TypesId + ")\">Edit</button>" +" </td>";
                } else {
                    raw +=
                        " <td>  <button type=\"button\" title=\"Active \" class=\"btn btn-sm btn-success\"><i class=\"ion-checkmark-circled\"" +
                        "></i></button> " +
                        "<button class = \"btn btn-sm btn-primary\" data-toggle=\"modal\" data-target=\"#modalCrud\" onclick=\"RenderActions('/Estate_Types/Edit/' + " +
                        response.Estate_TypesId + ")\">Edit</button>"+" </td>";
                }
                raw += "</tr>";
                $('#indexTbody').prepend(raw);
            },
            error: function (err) { alert("Error: " + err.responseText); }
        })
    };
    function Edit() {
        if (!ValidateInputs())
            return;
        var Estate_Types = {
            ItemId: $('#Estate_TypesId').val(),
            name: $('#Name').val(),
            IsDelete: $('#IsDelete:checked').val()
        }

        $.ajax({
            url: '/Estate_Types/Edit',
            type: 'POST',
            data: JSON.stringify(Estate_Types),
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                location.reload();
                $('#btnCloseModal').click();
            },
            error: function (err) { alert("Error: " + err.responseText); }
        })
    }

    function Clean() {
        $('#modalCrud').find('textarea,input').val('');
    };

    function ValidateInputs() {
        var flag = true;
        var name = $('#Name');

        if ($.trim(name.val()) != '') {
            name.closest('.form-group').removeClass('has-error');
            flag = true;
        }
        if ($.trim(name.val()) === '') {
            name.closest('.form-group').addClass('has-error');
            flag = false;
        }

        return flag;
    };
</script>

<div class="row">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="col-lg-12 col-md-12 margin">
                            <h3 class="box-title text-success "> <strong>Estate Type Management</strong></h3>
                            <button type="button" class="btn btn-success pull-right" data-toggle="modal" onclick="RenderActions('/Estate_Types/Create')" data-target="#modalCrud"></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        @{ Html.RenderPartial("AjaxEstate_Types", Model); }
                    
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div><!-- /.box -->
</div>
<div id="modalCrud" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="OpenDialog" class="modal-body">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Error. can not access data, please contact administrator for support..");
    }

</script>
<style>
    #products_info {
        display: none;
    }

    .pagination {
        display: inherit;
    }

    .pager1 {
        text-align: center;
    }
</style>
